/target/
.project
.settings
/*/.classpath
/*/.gitignore
/*/.settings
.gradle/
.settings/
.classpath
.project
.idea/
*.iml
model/target/
annotations/target/
core/target/
jaxb-adapters/target/
cache/target/
secureddatum/target/
converters/target/
test/target/
test/xjc-generated-source
*build/
*.DS_Store
*target/
schema/
*.pmd
*/.externalToolBuilders/
*/maven-eclipse.xml